<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Picture of me</p>
        <img class="portret" src="/images/Max.jpg" alt="Max"></header>
    </div>
    {{>footer}}
</body>
</html>